/* OpenSans-Light */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* OpenSans-LightItalic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
/* OpenSans-Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* OpenSans-RegularItalic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
/* OpenSans-SemiBold */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* OpenSans-SemiBoldItalic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
/* OpenSans-Bold */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* OpenSans-BoldItalic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* OpenSans-ExtraBold */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
/* OpenSans-ExtraBoldItalic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}

/* Montserrat-Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* Montserrat-Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
